*{
  box-sizing: border-box;
}
a, address, article, aside, audio, blockquote, body, button, canvas, code, dd, div, dl, dt, em, embed, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, input, label, li, nav, object, ol, p, pre, section, select, small, span, strong, summary, table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body, html {
  width: 100%;
  height: 100%;
}
body{
  // min-width: 320px;
  color: #666;
  font-size: 12px;
  // background: #;
  font-family: 游明朝体, "游明朝", YuMincho, "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
ol, ul {
  list-style: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
img{
  // max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  // color: #;
}



.header{
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  padding-bottom: 15px;
  font-size: 0;
  &-top{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;
    &--logo{
      width: 60px;
    }
    &--sns{
      &---img{
        width: 31px;
      }
    }
  }
  &-fb{
    margin-right: 10px;
  }
  &-menu{
    display: flex;
    justify-content: center;
    padding-top: 4px;
    a{
      display: block;
    }
    &--list{
      &:first-child{
        margin-right: 20px;
      }
      &:nth-child(2){
        margin-right: 20px;
      }
      &---img{
        &_top{
          width: 28px;
        }
        &_what{
          width: 142.09px;
        }
        &_intro{
          width: 48.3px;
        }
      }
    }
  }
}
@media(min-width: 600px){
  .header{
    padding-bottom: 13px;
    &-top{
      padding-left: 15px;
      &--logo{
      width: 80px;
      }
    }
    &-menu{
      margin-top: -11px;
      &--list{
        &:first-child{
          margin-right: 40px;
        }
        &:nth-child(2){
          margin-right: 40px;
        }
        &---img{
          &_top{
            width: 40px;
          }
          &_what{
            width: 203px;
          }
          &_intro{
            width: 69px;
          }
        }
      }
    }
  }
}
// @media(min-width: 800px){
//   .header{
//     &-top{
//       position: relative;
//       &--sns{
//         position: absolute;
//         top: 100px;
//         left: 0;
//         z-index: 100;
//       }
//     }
//   }
// }
@media(min-width: 1200px){
  .header{
    &-top{
      padding-top: 20px;
      padding-left: 30px;
      &--logo{
        width: 94px;
      }
    }
    &-menu{
      margin-top: -30px;
    }
  }
}



.top{
  padding-top: 71.84px;
  &-img{
    width: 100%;
  }
}

.point{
  text-align: center;
  padding-top: 35px;
  font-size: 0;
  background: linear-gradient(to bottom,
    rgba(255,255,255,1) 0%,
    rgba(255,255,242,1) 100%);
  &-ttl{
    max-width: 337px;
    width: 100%;
    padding: 0 18px 25px;
  }
  &-txt{
    font-size: 13.8px;
    line-height: 20px;
    text-align: left;
    margin: 0 20px ;
  }
  &-new{
    width: 100%;
    padding: 0 20px;
  }
  &-men{
    width: 100%;
  }
}
@media(min-width: 600px){
  .point{
    text-align: left;
    padding-top: 50px;
    background: linear-gradient(to bottom,
        rgba(255,255,255,1) 0%,
        rgba(255,255,242,1) 100%
        );
    &-bg{
      background: {
        image: url('../img/men_bg_bgimage.png');
        repeat: no-repeat;
        size: 40%;
        position: right top;
      }
    }
    &-container{
      max-width: 1000px;
      margin: 0 auto;
    }
    &-ttl{
      max-width: 595.19px;
      width: 64%;
    }
    &-txt{
      width: 64%;
      font-size: 14.95px;
      line-height: 23px;
    }
    &-new{
      width: 64%;
      margin-left: 40px;
      padding-bottom: 60px;
    }
    &-men{
      display: none;
    }
  }
}



.lineup{
  text-align: center;
  padding: 0 10px 50px;
  background: {
    image: url('../img/lineup_bg_bgimage.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  &-bg{
    max-width: 1040px;
    margin: 0 auto;
  }
  &-ttl{
    width: 230px;
    margin: 50px 0 23px;
  }
  &-products{
    width: 100%;
    margin-top: 60px;
    position: relative;
    .products-container{
      padding: 2% 6% 4.5% 33%;
      width: 100%;
      box-sizing: border-box;
      background: {
        repeat: no-repeat;
        size: 28.75% auto;
        position: left center;
        color: #fff;
      }
    }
    &--container{
      text-align: left;
    }
    &--ttl{
      height: 18px;
      width: auto;
      margin: 20px 0 20px;
    }
    &--txt{
      line-height: 18px;
    }
    &--bottom{
      display: flex;
      height: 35px;
      text-align: left;
      font-size: 14px;
      font-weight: bold;
      &---price{
        width: 100%;
        background-color: #ffe5bb;
        padding: 5px 20px;
        color: #000;
        font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", 游ゴシック体, "游ゴシック", メイリオ, Meiryo, "MS ゴシック", "MS Gothic", sans-serif;
      }
      &---buy{
        position: absolute;
        right: 0;
        width: 132px;
        height: 35px;
        display: block;
        background-color: #ff0000;
        padding: 5px 10px;
        color: #fff;
        text-align: center;
      }
    }
    &--img{
      position: absolute;
      top: -40px;
      right: 0;
      max-width: 100px;
      width: 25%;
    }
  }
}
.torigara{
  background-image: url('../img/lineup_bg_torigara.jpg');
}
.miso{
  background-image: url('../img/lineup_bg_miso.jpg');
}
.yuzu{
  background-image: url('../img/lineup_bg_yuzu.jpg');
}
.tantan{
  background-image: url('../img/lineup_bg_tantan.jpg');
}
.utonkotsu{
  background-image: url('../img/lineup_bg_utonkotsu.jpg');
}
.sanrah{
  background-image: url('../img/lineup_bg_sanrah.jpg');
}
@media(min-width: 600px){
  .lineup{
    padding: 0 20px 100px;
    &-ttl{
      width: 288px;
    }
    &-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-products{
      width: 48%;
      max-width: 480px;
      margin-top: 70px;
      &--container{
        height: 150px;
      }
      &--ttl{
        height: 24px;
        width: auto;
      }
      &--txt{
        font-size: 13px;
      }
      &--img{
        width: 22%;
      }
      &--bottom{
        &---price{
          font-size: 13px;
        }
      }
    }
  }
  .con169{
    height: 169px;
  }
}




.footer{
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", 游ゴシック体, "游ゴシック", メイリオ, Meiryo, "MS ゴシック", "MS Gothic", sans-serif;
  text-align: center;
  padding-top: 14px;
  height: 106px;
  border-top: 1px solid #e5e5e5;
  &-txt{
    color: #999999;
    font-size: 10px;
    font-weight: bold;
  }
}
@media(min-width: 600px){
  .footer{
    background: #ff0000;
    text-align: left;
    padding-top: 11px;
    height: 60px;
    &-txt{
      color: #fff;
      font-size: 12px;
      padding-left: 30px;
    }
  }
}
